.firstTitle {
    letter-spacing: 5px;
    font-size: 7rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
}


p {
    color: black;
    font-size: 18px;
}

.subTitle {
    color: black;
}
.anotherText {
    color: black;
    font-size: 17px;
    text-transform: none;
}